server {
    listen 8080;
    location / {
        proxy_pass http://host.docker.internal:11435;
        proxy_set_header Authorization "Bearer ${LARIO_AUXILIARY_KEY}";
        proxy_buffering off;
        proxy_read_timeout 7200s;
        proxy_send_timeout 7200s;
    }
}
